* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #aad5f8;
}

.container {
  display: flex;
  width: 80%;
  max-width: 900px;
  margin: 20px auto;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.left-panel {
  background-color: #38a5ff;
  color: #ffffff;
  flex: 1;
  padding: 40px 20px;
  text-align: center;
}

.left-panel .avatar {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}

.left-panel h2 {
    font-size: 30px;
  margin-bottom: 10px;
}

.left-panel p {
  font-size: 15px;
  color: #ffffff;
}

.btn-seta {
  margin-top: 20px;
  padding: 13px 18px;
  background-color: #0b3557;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 19px;
  cursor: pointer;
}

.right-panel {
  flex: 2;
  background-color: white;
  padding: 40px 30px;
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.botoes {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.cancelar {
  padding: 10px 20px;
  background-color: #ddd;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.salvar {
  padding: 10px 20px;
  background-color: #38a5ff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  border: 3px solid white;
}

.campo-info {
  margin-bottom: 20px;
}

.campo-info label {
  font-weight: bold;
  color: #333;
  display: block;
  margin-bottom: 5px;
}

.texto-info {
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
}

  .btn-sair {
      position: absolute;
      top: 20px;
      right: 30px;
      background-color: #e63946;
      color: white;
      border: none;
      padding: 10px 18px;
      border-radius: 10px;
      cursor: pointer;
      font-weight: bold;
    }
